.banner-section {
  background: url("../images/banner-image.svg") top left/cover no-repeat #f8f8f8;
  padding-bottom: 0 !important;
  margin-bottom: 0;
}
.banner-section .flex-container > * {
  margin-bottom: 0;
}
.banner-section .flex-container > *:last-child img {
  display: block;
}
.banner-section .flex-btn > *:last-child {
  background-color: #fff;
  border: 1px solid var(--black-color);
}
.banner-section .flex-btn > *:last-child a {
  color: #000;
}

/* UNDER CONSTRUCTION  */
.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid red;
}
