.products .product-title {
  text-align: center;
  margin-top: 0.8rem;
}
.products .flex-container .img-container {
  border-radius: 14px;
  border: 1px solid #f8f8f8;
  transition:
    border,
    transform 1s ease;
  transform: scale(0.9);
  cursor: pointer;
}
.products .flex-container .img-container:hover {
  border: 4px solid #f8f8f8;
  transform: scale(1);
}
.products .flex-container .img-container img {
  border-radius: inherit;
}
