/* ==================================
pharmacy Section
======================================*/
.pharmacist .flex-container {
  text-align: center;
  align-items: flex-end;
}
.pharmacist .flex-container > * .img-container {
  border-radius: 14px;
  margin-bottom: 1.4rem;
  height: 280px;
  cursor: pointer;
  /* padding: 1rem; */
  position: relative;
  z-index: 998;
}
.pharmacist .flex-container > * .img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: inherit;
  z-index: 1000;
  background-color: rgb(16, 7, 69, 0.7);
  transition: 0.5s ease;
}
.pharmacist .flex-container > * .img-container:hover::before,
.pharmacist .flex-container > * .img-container:focus-within::before {
  width: 100%;
  height: 100%;
}
.pharmacist .flex-container > * .img-container img {
  border-radius: inherit;
  height: 100%;
  /* object-fit: cover; */
  /* object-position: 50% -120%; */
}
.pharmacist .flex-container > *:last-child .img-container img {
  object-fit: cover;
}

.pharmacist .flex-container > * .img-container {
  background: #100745;
}

@media (min-width: 980px) {
  .pharmacist .flex-container > * .img-container {
    /* height: 65vh; */
  }
}
