.services .flex-container > * {
  text-align: center;
  padding: 1rem;
  -webkit-box-shadow: var(--box-shadow-3);
  -o-box-shadow: var(--box-shadow-3);
  -moz-box-shadow: var(--box-shadow-3);
  box-shadow: var(--box-shadow-3);
}

.services .icon-container {
  height: 45px;
  width: 45px;
  text-align: center;
  margin: 0 auto 1rem;
}
.services h5 {
  text-align: center;
}

/* ============================
 core values
 ==============================
*/
.core-values .frame-section {
  /* border: 1px solid red; */
}
.core-values .frame-header {
  margin-top: -60px;
  background-color: var(--white-color);
  z-index: 1000;
  position: relative;
  -webkit-box-shadow: var(--box-shadow-2);
  -o-box-shadow: var(--box-shadow-2);
  -moz-box-shadow: var(--box-shadow-2);
  box-shadow: var(--box-shadow-2);
}
.core-values .frame-header h3 {
  padding: 1rem;
}

/* ============================
 What we offer
 ==============================
*/
.what-we-offer {
  background: url("../images/footer-bg.svg") 50% 100% / cover no-repeat;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.what-we-offer > * {
  margin: auto;
}
.what-we-offer .flex-container {
  justify-content: space-around;
}
.what-we-offer .flex-btn {
  display: block;
}
.what-we-offer .cta-btn {
  background-color: #10ba21;
}

@media (min-width: 980px) {
  .services .flex-container > *:not(.core-values .flex-container > *) {
    height: 380px;
  }
}

@media (min-width: 1400px) {
  .services .flex-container > * {
    flex-basis: 22%;
  }
}
