/* Testimonilas styles goes here */
.testimonials .grid-container {
  /* border: 1px solid red; */
}
.testimonials .grid-container > * {
  margin-bottom: 6rem;
  /* text-align: center; */
}
.testimonials .grid-container > * p {
  border-radius: 8px;
  background: #f8fdff;
  min-height: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1.4rem;
}
.testimonials .grid-container .img-container {
  height: 69px;
  width: 69px;
  border-radius: 69px;
  margin: 0 auto;
}

@media (min-width: 980px) {
  .testimonials .grid-container {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 1.4rem; */
  }
}
